#h-primary {
    color: #ffc107;
    font-weight: normal;
    font-size: 3rem;
    margin: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 6rem;
    margin: 24px;
    font-weight: 900;
    font-family: 'Bricolage Grotesque', sans-serif;
}

span {
    color: #303f9f;
}

div {
    display: inline-block;
    width: 46%;
    margin: 12px;
    padding: 12px;
}

.secondary {
    margin-top: 13px;
    font-size: 1.9rem;
  /* padding: 5px; */
}
p{
    /* padding: 12px; */
    margin: 0;
}

img {
    margin-right: 13px;
    width: 300px;
    height: 200px;
}


.box1 img {
    float: left;
}

.box2 img {
    float: left;
}
footer{
    clear: both;
    padding: 23px;
    background-color: purple;
    color: white;
    margin: 2px 0px;
    text-align: right;
}